<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="evincemage" translate="label" sortOrder="10">
            <label>EVINCEMAGE</label>
        </tab>
        <section id="contactmap" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Contact Us Map</label>
            <tab>evincemage</tab>
            <resource>Evincemage_Contactmap::contactmap</resource>
            <group id="active_display" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Magento\Contact\Model\System\Config\Backend\Links</backend_model>
                </field>
                <field id="api_url" translate="label comment" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Map Api Key</label>
                    <comment>Find Google Map Api key from here - https://developers.google.com/maps/documentation/javascript/get-api-key </comment>
                </field>
                <field id="store_address" translate="label comment" sortOrder="3" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Address</label>
                    <comment>Your store address</comment>
                </field>
                <field id="marker_image" translate="label" type="image" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Marker Image:</label>
                    <comment>Allowed file types: jpg, jpeg, gif, png</comment>
                    <backend_model>Evincemage\Contactmap\Model\Saveimage</backend_model>
                    <base_url type="media" scope_info="1">evincemage/contactmap</base_url>
                </field>
                <field id="map_height" translate="label comment" sortOrder="5" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Map Height</label>
                    <comment>Height for Map Ex : 400</comment>
                </field>
                    </group>
        </section>
    </system>
</config>
